In [ ]:
import pandas as pd
import polars as pl

In [70]:
csv_file = './data/insurance.csv'

### Read csv

In [21]:
# Pandas
df = pd.read_csv(csv_file)
print("# of rows: ", len(df))
df.head()

# of rows:  1338

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [71]:
# Polars
df_pl = pl.read_csv(csv_file)
print("# of rows: ", len(df_pl))
df_pl.head()

# of rows:  1338

shape: (5, 7)
┌─────┬────────┬────────┬──────────┬────────┬───────────┬─────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ smoker ┆ region    ┆ charges     │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---         │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆ str    ┆ str       ┆ f64         │
╞═════╪════════╪════════╪══════════╪════════╪═══════════╪═════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ yes    ┆ southwest ┆ 16884.924   │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ no     ┆ southeast ┆ 1725.5523   │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ no     ┆ southeast ┆ 4449.462    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ no     ┆ northwest ┆ 21984.47061 │
│ 32  ┆ male   ┆ 28.88  ┆ 0        ┆ no     ┆ northwest ┆ 3866.8552   │
└─────┴────────┴────────┴──────────┴────────┴───────────┴─────────────┘

### Measure csv reading times

In [ ]:
# Pandas
%%timeit
pd.read_csv(csv_file)

1.22 ms ± 20.2 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [13]:
# Polars
%%timeit
pl.read_csv(csv_file)

664 μs ± 194 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

### Cast column types

In [55]:
df['charges_int'] = df['charges'].astype(int)
df.head()

   age     sex     bmi  children smoker     region      charges  charges_int
0   19  female  27.900         0    yes  southwest  16884.92400        16884
1   18    male  33.770         1     no  southeast   1725.55230         1725
2   28    male  33.000         3     no  southeast   4449.46200         4449
3   33    male  22.705         0     no  northwest  21984.47061        21984
4   32    male  28.880         0     no  northwest   3866.85520         3866

In [56]:
df_pl.with_columns(
    df_pl['charges'].cast(pl.Int32).alias('charges_int')
)

shape: (1_338, 8)
┌─────┬────────┬────────┬──────────┬────────┬───────────┬─────────────┬─────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ smoker ┆ region    ┆ charges     ┆ charges_int │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---         ┆ ---         │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆ str    ┆ str       ┆ f64         ┆ i32         │
╞═════╪════════╪════════╪══════════╪════════╪═══════════╪═════════════╪═════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ yes    ┆ southwest ┆ 16884.924   ┆ 16884       │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ no     ┆ southeast ┆ 1725.5523   ┆ 1725        │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ no     ┆ southeast ┆ 4449.462    ┆ 4449        │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ no     ┆ northwest ┆ 21984.47061 ┆ 21984       │
│ 32  ┆ male   ┆ 28.88  ┆ 0        ┆ no     ┆ northwest ┆ 3866.8552   ┆ 3866        │
│ …   ┆ …      ┆ …      ┆ …        ┆ …      ┆ …         ┆ …           ┆ …           │
│ 50  ┆ male   ┆ 30.97  ┆ 3        ┆ no     ┆ northwest ┆ 10600.5483  ┆ 10600       │
│ 18  ┆ female ┆ 31.92  ┆ 0        ┆ no     ┆ northeast ┆ 2205.9808   ┆ 2205        │
│ 18  ┆ female ┆ 36.85  ┆ 0        ┆ no     ┆ southeast ┆ 1629.8335   ┆ 1629        │
│ 21  ┆ female ┆ 25.8   ┆ 0        ┆ no     ┆ southwest ┆ 2007.945    ┆ 2007        │
│ 61  ┆ female ┆ 29.07  ┆ 0        ┆ yes    ┆ northwest ┆ 29141.3603  ┆ 29141       │
└─────┴────────┴────────┴──────────┴────────┴───────────┴─────────────┴─────────────┘

## Polars basics

### Select

In [88]:
df_pl.select(
    pl.col('age', 'sex',),
    pl.col('charges').cast(pl.Int32).alias('charges_int')
)

shape: (1_338, 3)
┌─────┬────────┬─────────────┐
│ age ┆ sex    ┆ charges_int │
│ --- ┆ ---    ┆ ---         │
│ i64 ┆ str    ┆ i32         │
╞═════╪════════╪═════════════╡
│ 19  ┆ female ┆ 16884       │
│ 18  ┆ male   ┆ 1725        │
│ 28  ┆ male   ┆ 4449        │
│ 33  ┆ male   ┆ 21984       │
│ 32  ┆ male   ┆ 3866        │
│ …   ┆ …      ┆ …           │
│ 50  ┆ male   ┆ 10600       │
│ 18  ┆ female ┆ 2205        │
│ 18  ┆ female ┆ 1629        │
│ 21  ┆ female ┆ 2007        │
│ 61  ┆ female ┆ 29141       │
└─────┴────────┴─────────────┘

### Filter

In [96]:
df_pl.filter(
    df_pl['age'].is_between(18, 30),
    df_pl['sex'] == 'female'
)

shape: (214, 7)
┌─────┬────────┬────────┬──────────┬────────┬───────────┬─────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ smoker ┆ region    ┆ charges     │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---         │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆ str    ┆ str       ┆ f64         │
╞═════╪════════╪════════╪══════════╪════════╪═══════════╪═════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ yes    ┆ southwest ┆ 16884.924   │
│ 30  ┆ female ┆ 32.4   ┆ 1        ┆ no     ┆ southwest ┆ 4149.736    │
│ 18  ┆ female ┆ 26.315 ┆ 0        ┆ no     ┆ northeast ┆ 2198.18985  │
│ 19  ┆ female ┆ 28.6   ┆ 5        ┆ no     ┆ southwest ┆ 4687.797    │
│ 24  ┆ female ┆ 26.6   ┆ 0        ┆ no     ┆ northeast ┆ 3046.062    │
│ …   ┆ …      ┆ …      ┆ …        ┆ …      ┆ …         ┆ …           │
│ 23  ┆ female ┆ 24.225 ┆ 2        ┆ no     ┆ northeast ┆ 22395.74424 │
│ 23  ┆ female ┆ 33.4   ┆ 0        ┆ no     ┆ southwest ┆ 10795.93733 │
│ 18  ┆ female ┆ 31.92  ┆ 0        ┆ no     ┆ northeast ┆ 2205.9808   │
│ 18  ┆ female ┆ 36.85  ┆ 0        ┆ no     ┆ southeast ┆ 1629.8335   │
│ 21  ┆ female ┆ 25.8   ┆ 0        ┆ no     ┆ southwest ┆ 2007.945    │
└─────┴────────┴────────┴──────────┴────────┴───────────┴─────────────┘

### Group by

In [100]:
df_pl.group_by(
    'sex'
).len()

shape: (2, 2)
┌────────┬─────┐
│ sex    ┆ len │
│ ---    ┆ --- │
│ str    ┆ u32 │
╞════════╪═════╡
│ female ┆ 662 │
│ male   ┆ 676 │
└────────┴─────┘

In [104]:
df_pl.group_by(
    'region'
).agg(
    pl.len().alias('count'),
    pl.sum('charges').alias('total_charges'),
    pl.mean('charges').alias('avg_charges'),
    pl.max('bmi').alias('max_bmi'),
    )

shape: (4, 5)
┌───────────┬───────┬───────────────┬──────────────┬─────────┐
│ region    ┆ count ┆ total_charges ┆ avg_charges  ┆ max_bmi │
│ ---       ┆ ---   ┆ ---           ┆ ---          ┆ ---     │
│ str       ┆ u32   ┆ f64           ┆ f64          ┆ f64     │
╞═══════════╪═══════╪═══════════════╪══════════════╪═════════╡
│ southwest ┆ 325   ┆ 4.0128e6      ┆ 12346.937377 ┆ 47.6    │
│ southeast ┆ 364   ┆ 5.3637e6      ┆ 14735.411438 ┆ 53.13   │
│ northwest ┆ 325   ┆ 4.0357e6      ┆ 12417.575374 ┆ 42.94   │
│ northeast ┆ 324   ┆ 4.3437e6      ┆ 13406.384516 ┆ 48.07   │
└───────────┴───────┴───────────────┴──────────────┴─────────┘

In [110]:
df_pl.with_columns(
    pl.col('smoker').str.replace("yes", 1).replace("no", 0).cast(pl.Int32)
).select(
    pl.all().exclude('region'),
).group_by(
    pl.col('sex'),
    maintain_order=True,
).agg(
    pl.col('smoker').sum().alias('smokers'),
    pl.col('charges').sum().alias('total_charges'),
)

shape: (2, 3)
┌────────┬─────────┬───────────────┐
│ sex    ┆ smokers ┆ total_charges │
│ ---    ┆ ---     ┆ ---           │
│ str    ┆ i32     ┆ f64           │
╞════════╪═════════╪═══════════════╡
│ female ┆ 115     ┆ 8.3211e6      │
│ male   ┆ 159     ┆ 9.4348e6      │
└────────┴─────────┴───────────────┘

### Join and Concat

In [111]:
df_pl_2 = df_pl.filter(
    df_pl['age'].is_between(18, 30),
)

In [114]:
df_pl.join(df_pl_2, on='charges', how='left')

shape: (1_340, 13)
┌─────┬────────┬────────┬──────────┬───┬───────────┬────────────────┬──────────────┬──────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ … ┆ bmi_right ┆ children_right ┆ smoker_right ┆ region_right │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆   ┆ ---       ┆ ---            ┆ ---          ┆ ---          │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆   ┆ f64       ┆ i64            ┆ str          ┆ str          │
╞═════╪════════╪════════╪══════════╪═══╪═══════════╪════════════════╪══════════════╪══════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ … ┆ 27.9      ┆ 0              ┆ yes          ┆ southwest    │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ … ┆ 33.77     ┆ 1              ┆ no           ┆ southeast    │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ … ┆ 33.0      ┆ 3              ┆ no           ┆ southeast    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ … ┆ null      ┆ null           ┆ null         ┆ null         │
│ 32  ┆ male   ┆ 28.88  ┆ 0        ┆ … ┆ null      ┆ null           ┆ null         ┆ null         │
│ …   ┆ …      ┆ …      ┆ …        ┆ … ┆ …         ┆ …              ┆ …            ┆ …            │
│ 50  ┆ male   ┆ 30.97  ┆ 3        ┆ … ┆ null      ┆ null           ┆ null         ┆ null         │
│ 18  ┆ female ┆ 31.92  ┆ 0        ┆ … ┆ 31.92     ┆ 0              ┆ no           ┆ northeast    │
│ 18  ┆ female ┆ 36.85  ┆ 0        ┆ … ┆ 36.85     ┆ 0              ┆ no           ┆ southeast    │
│ 21  ┆ female ┆ 25.8   ┆ 0        ┆ … ┆ 25.8      ┆ 0              ┆ no           ┆ southwest    │
│ 61  ┆ female ┆ 29.07  ┆ 0        ┆ … ┆ null      ┆ null           ┆ null         ┆ null         │
└─────┴────────┴────────┴──────────┴───┴───────────┴────────────────┴──────────────┴──────────────┘

In [116]:
pl.concat([df_pl, df_pl_2], how='vertical')

shape: (1_782, 7)
┌─────┬────────┬────────┬──────────┬────────┬───────────┬─────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ smoker ┆ region    ┆ charges     │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---         │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆ str    ┆ str       ┆ f64         │
╞═════╪════════╪════════╪══════════╪════════╪═══════════╪═════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ yes    ┆ southwest ┆ 16884.924   │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ no     ┆ southeast ┆ 1725.5523   │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ no     ┆ southeast ┆ 4449.462    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ no     ┆ northwest ┆ 21984.47061 │
│ 32  ┆ male   ┆ 28.88  ┆ 0        ┆ no     ┆ northwest ┆ 3866.8552   │
│ …   ┆ …      ┆ …      ┆ …        ┆ …      ┆ …         ┆ …           │
│ 23  ┆ female ┆ 24.225 ┆ 2        ┆ no     ┆ northeast ┆ 22395.74424 │
│ 23  ┆ female ┆ 33.4   ┆ 0        ┆ no     ┆ southwest ┆ 10795.93733 │
│ 18  ┆ female ┆ 31.92  ┆ 0        ┆ no     ┆ northeast ┆ 2205.9808   │
│ 18  ┆ female ┆ 36.85  ┆ 0        ┆ no     ┆ southeast ┆ 1629.8335   │
│ 21  ┆ female ┆ 25.8   ┆ 0        ┆ no     ┆ southwest ┆ 2007.945    │
└─────┴────────┴────────┴──────────┴────────┴───────────┴─────────────┘

### Run sql

In [81]:
df_pl.sql(
    'SELECT sex, charges from self WHERE charges > 10000'
)

shape: (626, 2)
┌────────┬─────────────┐
│ sex    ┆ charges     │
│ ---    ┆ ---         │
│ str    ┆ f64         │
╞════════╪═════════════╡
│ female ┆ 16884.924   │
│ male   ┆ 21984.47061 │
│ female ┆ 28923.13692 │
│ female ┆ 27808.7251  │
│ female ┆ 11090.7178  │
│ …      ┆ …           │
│ female ┆ 12629.1656  │
│ female ┆ 10795.93733 │
│ female ┆ 11411.685   │
│ male   ┆ 10600.5483  │
│ female ┆ 29141.3603  │
└────────┴─────────────┘